<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	<!-- 配置c3p0连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3306/ssh2?useUnicode=true&amp;characterEncoding=UTF-8" />
		<property name="user" value="root" />
		<property name="password" value="123" />

		<!--连接池中保留的最小连接数。 -->
		<property name="minPoolSize" value="5" />

		<!--连接池中保留的最大连接数。Default: 15 -->
		<property name="maxPoolSize" value="30" />

		<!--初始化时获取的连接数，取值应在minPoolSize与maxPoolSize之间。Default: 3 -->
		<property name="initialPoolSize" value="10" />

		<!--最大空闲时间,60秒内未使用则连接被丢弃。若为0则永不丢弃。Default: 0 -->
		<property name="maxIdleTime" value="60" />

		<!--当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。Default: 3 -->
		<property name="acquireIncrement" value="5" />

		<!--JDBC的标准参数，用以控制数据源内加载的PreparedStatements数量。但由于预缓存的statements 属于单个connection而不是整个连接池。 
			所以设置这个参数需要考虑到多方面的因素。如果maxStatements与maxStatementsPerConnection均为0，则缓存被关闭。Default: 
			0 -->
		<property name="maxStatements" value="0" />

		<!--每60秒检查所有连接池中的空闲连接。Default: 0 -->
		<property name="idleConnectionTestPeriod" value="60" />

		<!--定义在从数据库获取新连接失败后重复尝试的次数。Default: 30 -->
		<property name="acquireRetryAttempts" value="30" />

		<!--获取连接失败将会引起所有等待连接池来获取连接的线程抛出异常。但是数据源仍有效 保留，并在下次调用getConnection()的时候继续尝试获取连接。 
			如果设为true，那么在尝试 获取连接失败后该数据源将申明已断开并永久关闭。Default: false -->
		<property name="breakAfterAcquireFailure" value="true" />

		<!--因性能消耗大请只在需要的时候使用它。如果设为true那么在每个connection提交的 时候都将校验其有效性。建议使用idleConnectionTestPeriod 
			或automaticTestTable 等方法来提升连接测试的性能。Default: false -->
		<property name="testConnectionOnCheckout" value="false" />
	</bean>


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!-- hibernate相关属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
			</props>
		</property>
		<!-- 实体映射文件 -->
		<property name="mappingResources">
			<list>
				<!-- 小白 -->
				<value>com/crm/ssh2/sale/entity/SaleChance.hbm.xml</value>
				<value>com/crm/ssh2/sale/entity/SalePlan.hbm.xml</value>
				<value>com/crm/ssh2/basd/entity/BasdDict.hbm.xml</value>
				<value>com/crm/ssh2/basd/entity/BasdProduct.hbm.xml</value>
				<value>com/crm/ssh2/basd/entity/BasdStorage.hbm.xml</value>
				<value>com/crm/ssh2/cust/entity/CustService.hbm.xml</value>

				<!-- 小亮 -->
				<value>com/crm/ssh2/right/entity/Right.hbm.xml</value>
				<value>com/crm/ssh2/right/entity/RightRole.hbm.xml</value>
				<value>com/crm/ssh2/right/entity/RightUser.hbm.xml</value>
				<value>com/crm/ssh2/right/entity/RightQx.hbm.xml</value>

				<!-- 小潘 -->
				<value>com/crm/ssh2/cust/entity/CustCustomer.hbm.xml</value>
				<value>com/crm/ssh2/cust/entity/CustLinkman.hbm.xml</value>
				<value>com/crm/ssh2/cust/entity/CustActivity.hbm.xml</value>
				<value>com/crm/ssh2/cust/entity/CustLost.hbm.xml</value>
				<value>com/crm/ssh2/basd/entity/BasdOrders.hbm.xml</value>
				<value>com/crm/ssh2/basd/entity/OrdersDetail.hbm.xml</value>

			</list>
		</property>
	</bean>


	<!--声明式事务配置开始 -->
	<!--1) 开启自动代理 -->
	<aop:aspectj-autoproxy />

	<!--2) 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!--3) 定义事务特性 -->
	<!-- 环绕通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<!-- <tx:method name="save*" propagation="REQUIRED" /> -->
			<!-- <tx:method name="insert*" propagation="REQUIRED" /> -->
			
			<tx:method name="edit*" propagation="REQUIRED" />
			<!-- <tx:method name="update*" propagation="REQUIRED" /> -->
			
			<tx:method name="del*" propagation="REQUIRED" />
			<!-- <tx:method name="remove*" propagation="REQUIRED" /> -->
			
			<tx:method name="load*" propagation="REQUIRED" read-only="true" />
			<tx:method name="list*" propagation="REQUIRED" read-only="true" />
			<!-- <tx:method name="select*" propagation="REQUIRED" -->
			<!-- read-only="true" /> -->
			<!-- <tx:method name="query*" propagation="REQUIRED" -->
			<!-- read-only="true" /> -->
			
			<tx:method name="do*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<!--4) 定义切入点 -->
	<aop:config>
		<!-- pointcut属性用来定义一个切入点，分成四个部分理解 [* ][*..][*Biz][.*(..)] -->
		<!-- A： 返回类型，*表示返回类型不限 -->
		<!-- B： 包名，*..表示包名不限 -->
		<!-- C： 类或接口名，*Biz表示类或接口必须以Biz结尾 -->
		<!-- D： 方法名和参数，*(..)表示方法名不限，参数类型和个数不限 -->
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* *..*Biz.*(..))" />
	</aop:config>
	<!-- 声明式事务配置结束 -->


	<!-- spring提供的一个工具类，hibernate的模板对象：把常用的方法封装到hibernateTemplate -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- base模块配置 start -->
	<bean id="baseDao" abstract="true" class="com.crm.ssh2.base.dao.BaseDao">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
	<bean id="baseBiz" abstract="true" class="com.crm.ssh2.base.biz.BaseBiz">
	</bean>
	<bean id="baseAction" abstract="true" class="com.crm.ssh2.base.action.BaseAction">
	</bean>

	<!-- base模块配置 end -->
</beans>
